<header class="site-header">

  <nav class="site-nav">
    <a class="logo" > 
      <h2>{{ .Site.Title }}</h2> 
    </a>
    

  </nav>

  {{/*  search algorithm  */}}
  <input type="search" id="search" name="search" autocomplete="off" placeholder="Search...">

  <div class="categories-container">
    <div class="filter-category" data-category="Arts" data-selected="true"><span class="material-icons"> close </span></div>
    <div class="filter-category" data-category="Community Service & Volunteer" data-selected="true"><span class="material-icons"> close </span></div>
    <div class="filter-category" data-category="Cultural" data-selected="true"><span class="material-icons"> close </span></div>
    <div class="filter-category" data-category="Environmental" data-selected="true"><span class="material-icons"> close </span></div>
    <div class="filter-category" data-category="Interest" data-selected="true"><span class="material-icons"> close </span></div>
    <div class="filter-category" data-category="Political" data-selected="true"><span class="material-icons"> close </span></div>
    <div class="filter-category" data-category="Religious" data-selected="true"><span class="material-icons"> close </span></div>
    <div class="filter-category" data-category="Sports & Recreation" data-selected="true"><span class="material-icons"> close </span></div>
    <div class="filter-category" data-category="STEM" data-selected="true"><span class="material-icons"> close </span></div>
    <div class="filter-category" data-category="Other" data-selected="true"><span class="material-icons"> close </span></div>

  </div>

</header>
